<div class="container">
  <h3>Client Information</h3>
  <form #reservationForm="ngForm" (ngSubmit)="onSubmit(reservationForm)">


    <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="reservationservice.selectedReservation.$key">

    <div hidden class="form-group">
      <label>delete flag</label>
      <input type="text" class="form-control" name="deleteFlag" #deleteFlag="ngModel" [(ngModel)]="reservationservice.selectedReservation.deleteFlag"
      >
    </div>

    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" name="first_name" #first_name="ngModel" [(ngModel)]="reservationservice.selectedReservation.first_name"
             placeholder="First Name" required>
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" name="last_name" #last_name="ngModel" [(ngModel)]="reservationservice.selectedReservation.last_name"
             required placeholder="Last Name">
    </div>

    <div class="form-group">
      <label>No. of Children</label>
      <select class="form-control" name="no_of_children" #no_of_children="ngModel" [(ngModel)]="reservationservice.selectedReservation.no_of_children"
              required>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="15+">15+</option>
      </select>
    </div>

    <div class="form-group">
      <label>No. of People</label>
      <select class="form-control" name="no_of_people" #no_of_people="ngModel" [(ngModel)]="reservationservice.selectedReservation.no_of_people"
              required placeholder>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="30+">30+</option>
      </select>
    </div>

    <div class="form-group">
      <label>Phone</label>
      <input type="text" class="form-control" name="phone" #phone="ngModel" [(ngModel)]="reservationservice.selectedReservation.phone"
             required placeholder="Phone">
    </div>

    <div class="form-group">
      <label>Booking Date</label><br>
      {{reservationservice.selectedReservation.book_date | date: 'fullDate'}}
      <input hidden type="text" class="form-control" name="book_date" #book_date="ngModel"
             [(ngModel)]="reservationservice.selectedReservation.book_date"
             placeholder="Booking Date" bsDatepicker
             [(bsValue)]="reservationservice.selectedReservation.book_date"
             value="{{ reservationservice.selectedReservation.book_date | date:'yyyy/MM/dd' }}">
    </div>
    <hr>
    <div class="form-group">
      <label>Session</label>
      <select class="form-control" name="session" #session="ngModel"
              [(ngModel)]="reservationservice.selectedReservation.session"
              required placeholder="Session">
        <option value="11:30 am ~ 13:00 pm">11:30 am ~ 13:00 pm</option>
        <option value="13:30 am ~ 15:00 pm">13:30 pm ~ 15:00 pm</option>
        <option value="17:30 pm ~ 19:45 pm">17:30 pm ~ 19:45 pm</option>
        <option value="20:00 pm ~ 22:00 pm">20:00 pm ~ 22:00 pm</option>
        <option value="11:30 am ~ 15:00 pm">11:30 am ~ 15:00 pm</option>
        <option value="17:30 pm ~ 22:00 pm">17:30 pm ~ 22:00 pm</option>
      </select>
    </div>

    <div class="form-group">
      <label>Client Submit Time</label><br/>
      {{reservationservice.selectedReservation.submitted_time | date: 'long'}}
      <textarea  hidden rows="4" type="text" class="form-control" name="submitted_time" #submitted_time="ngModel" [(ngModel)]="reservationservice.selectedReservation.submitted_time"
      ></textarea>
    </div>
    <hr>
    <div class="form-group">
      <label>Booking Message</label>
      <textarea rows="8" type="text" class="form-control" name="book_message" #book_message="ngModel" [(ngModel)]="reservationservice.selectedReservation.book_message"
                placeholder="Booking Message"></textarea>
    </div>
    <div class="form-group">
      <label>Confirm Status</label>
      <select class="form-control" name="confirm_status" #confirm_status="ngModel"
              [(ngModel)]="reservationservice.selectedReservation.confirm_status"
              required placeholder="status">
        <option value="Unconfirmed">UnConfirmed</option>
        <option value="Confirmed">Confirmed</option>
      </select>

    </div>
    <div class="form-group">
      <button class="btn btn-info" type="submit" [disabled]="!reservationForm.valid">
        <i class="fa fa-floppy-o m-1"></i>
        Submit</button>
      <button class="btn btn-danger m-1" type="button" (click)="resetForm(reservationForm)">
        Reset</button>
    </div>
    <!--
   {{reservationservice.selectedReservation | json}}
   -->
  </form>

</div>

