<div class="wrapper">
  <div class="container text-center">
    <br>
    <br>
    <h1 class="text-white">Welcome</h1>
    <h2 class="text-white">Ocean SeaFood Bar Admin Dashboard</h2>

    <div class="login-box mt-5">
      <img src="../../assets/img/logo.png" class="avatar" alt="Avatar Image">
      <h1>Login</h1>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <label>Username</label>
        <input type="text"
               name="user"
               required="required"
               #admin="ngModel"
               [(ngModel)]="logname"
               placeholder="Username"/>
        <label>Password</label>
        <input type="password" name="password"
               required="required" #password="ngModel"
               [(ngModel)]="logpsw"
               placeholder="Password"/>

        <input type="submit" value="Log In">

      </form>
    </div>
  </div>
</div>

